* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}

em {
  font-weight: bold;
}

body {     
  height: 100vh;
  margin: 0;
  padding: 50px;
  background: linear-gradient(45deg, rgba(gray, .01), rgba(gray, .15));
}

h1 {
  font-size: 40px;
  margin: 0;
}

a {
  position: fixed;
  bottom: 25px;
  font-size: 16px;
  font-weight: bold;
  color: darken(salmon, 25%);
  text-decoration: none;
  font-weight: 100;
  font-family: Verdana, Geneva, sans-serif;
  
  &:hover {
    color: darken(salmon, 40%);
  }
}